<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nandaadisaputra.praktikum1mobileprogram">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="donut">
        <activity android:name=".crud.activity.BiodataAddUpdateActivity" />
        <activity android:name=".activity.MapActivity" />
        <activity android:name=".crud.activity.BiodataActivity"/>
        <activity android:name=".activity.IfElseActivity" />
        <activity android:name=".activity.GpsMapActivity" />
        <activity android:name=".activity.FormPenjualanActivity" />
        <activity android:name=".bangundatar.activity.BangunDatarActivity" />
        <activity android:name=".kalkulator.activity.KalkulatorActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>